.main-menu {
  background-color: #3A63DE;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.main-menu__logo {
  padding-bottom: 31px;
}

.main-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 400;
  color:rgba(#fff, 0.8);
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  width: 150px;
  height: 150px;
}

.main-menu__link img {
  padding-top: 15px;
  width: 49px;
  height: 49px;
}

.main-menu__item-header {
  padding-top: 5px;
}

.main-menu__item--notification {
  position: relative;
}

.main-menu__item--notification::before {
  position: absolute;
  content: '4';
  background-color: $orange;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  font-size: 14px;
  top: 25px;
  left: 93px;
}

.main-menu__link--active {
  //background-color: $total-blue;
  //box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.08), inset 0px 4px 8px rgba(0, 0, 0, 0.08);
  background-color: rgba(#000, 0.15);
}

.main-menu__load-more {
  height: 106px;
  align-self: center;
  margin-top: -20px;
}

.main-menu__load-more-button {
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}

.main-menu.active {
  display: block;
  position: fixed;
  z-index: 10;
}

@media (max-width: 1023px) {
  .main-menu {
    display: none;
  }
}
